{% load static %}

<!DOCTYPE html>

<html>

<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'src/css/change_password.css' %}">

</head>

<body>

    <div class="card">

        <h1>Change password</h1>

        <p class="subtitle">
            Update your account password.
        </p>

        {% if messages %}
        {% for message in messages %}
        <div class="
            {% if message.tags == 'success' %}
                alert-success
            {% else %}
                alert-error
            {% endif %}
        ">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post">

            {% csrf_token %}

            <div class="form-group">
                <label>Current password</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>

            <div class="form-group">
                <label>New password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <div class="form-group">
                <label>Confirm new password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <div class="dialog-footer">
                <button type="submit" class="btn">
                    Update password
                </button>
                <button type="button" class="btn-cancel" onclick="window.location.href='{% url 'profile' %}'">
                    Cancel
                </button>
            </div>
        </form>

    </div>

</body>

</html>