{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>

    <link rel="stylesheet" href="{% static 'src/css/password_reset_from_key.css' %}">
</head>
<body>

<div class="background">
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
</div>

<div class="container">

    <div class="card">

        <h1>Set new password</h1>

        <p class="subtitle">
            Choose a strong password for your account.
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="field">
                <label>New password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="field">
                <label>Confirm password</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <button type="submit">
                Reset password
            </button>

        </form>

    </div>

</div>

</body>
</html>