{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_Miguel.dev</title>
    <link rel="stylesheet" href="{% static 'hero/src/css/index.css' %}">
</head>

<body>
    <section class="hero">

        <div class="hero-bg">
            <div class="bg-glow blob-1"></div>
            <div class="bg-glow blob-2"></div>
        </div>

        <div class="hero-container">

            <div>
                <h1 class="hero-title fade-up delay-1">
                    Crafting Modern <span>Digital Experiences</span>
                </h1>

                <p class="hero-subtitle fade-up delay-2">
                    Building diverse projects improves programming skills, strengthens problem-solving,
                    and turns practice into real-world mastery.
                </p>

                <div class="hero-actions fade-up delay-3">
                    <a href="#" class="btn-primary">Explore Projects</a>
                    <a href="{% url 'overview' %}" class="btn-secondary">About Me</a>
                </div>
            </div>
            <div class="hero-visual fade-up delay-2">
                <div class="floating-card" style="background-color: #121358;">
                    <div class="floating-card" style="background-color: #232F72;">
                        <div class="floating-card">

                            <div class="card-dot"></div>
                            <div class="card-line short"></div>
                            <div class="card-line short"></div>
                            <br>
                            <div class="card-line long"></div>
                            <div class="card-line long"></div>
                            <div class="card-line short"></div>
                            <br>
                            <div class="card-line long"></div>
                            <div class="card-line long"></div>
                            <div class="card-line long"></div>

                        </div>
                    </div>

                </div>
            </div>
        

        </div>
    </section>
</body>

</html>