/* GitHub Dark Theme Inspired */

:root {
    --bg-primary: #0d1117;
    --bg-secondary: #161b22;
    --bg-card: #161b22;
    --border-color: #30363d;

    --text-primary: #e6edf3;
    --text-secondary: #8b949e;

    --link-color: #72777e;
    --link-hover: #79c0ff;

    --success: #3fb950;
}

/* Layout */

.sidebar {
    border-right: 1px solid var(--border-color);
    padding: 20px;
    position: sticky;
}


.tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
}

.tab {
    padding: 10px 14px;
    cursor: pointer;
    color: var(--text-secondary);
    transition: 0.2s;
    white-space: nowrap;
    font-size: 12px;
}

[data-theme="light"] .tab {
    padding: 10px 14px;
    cursor: pointer;
    color: var(--text-main);
    transition: 0.2s;
    white-space: nowrap;
}

.tab:hover {
    background: rgba(177, 186, 196, 0.12);
    color: var(--text-primary);
    border-left: 2px solid gray;
}

[data-theme="light"] .tab:hover {
    padding: 10px 14px;
    cursor: pointer;
    color: var(--text-muted);
    transition: 0.2s;
    white-space: nowrap;
}

.tab.active {
    background: rgba(56, 139, 253, 0.15);
    color: var(--text-primary);
    border-left: 2px solid white;
    font-weight: 500;
}

[data-theme="light"] .tab.active {
    background: rgba(56, 139, 253, 0.15);
    color: var(--text-main);
    border-left: 2px solid black;
}


/* Sidebar */

.sidebar-section h3 {
    color: var(--text-secondary);
    margin-bottom: 8px;
}

[data-theme="light"] .sidebar-section h3 {
    color: var(--text-secondary);
    margin-bottom: 8px;
}

.sidebar-section h4 {
    color: var(--text-primary);
    font-weight: 500;
}

[data-theme="light"] .sidebar-section h4 {
    color: var(--text-main);
    font-weight: 500;
}

/* Content */

h3 {
    margin: 30px 0 15px;
    color: var(--text-primary);
}

/* Cards */

.repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
    transition: all 0.2s ease;
}

.card:hover {
    border-color: #58a6ff;
    transform: translateY(-2px);
}

.card-img {
    display: block;
    overflow: hidden;
    border-radius: 6px;
}

.card-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.card-link {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
}

.card-link:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

.card-desc {
    margin-top: 10px;
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 1.6;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;
}

[data-theme="light"] table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;
}

th {
    background: #161b22;
    color: var(--text-primary);
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    font-size: 14px;
}

[data-theme="light"] th {
    background: var(--text-primary);
    color: var(--bg-primary);
    text-align: left;
    padding: 12px;
    border-bottom: transparent;
}

td {
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-secondary);
}

tr:hover {
    background: rgba(177, 186, 196, 0.05);
}

/* Tab Content */

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 0px;
        padding: 16px;
    }

    .tab-content {
    display: block;
    }

    .tab-content h2{
        text-align: center;

    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        padding: 0px;
        display: none;
    }

    h2{
        margin: 0px;
    }

    .tab-content p{
        text-align: center;
    }

    main .tab-content{
        padding: 30px;
    }

}

