{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_Miguel.Dev</title>
    <link rel="stylesheet" href="{% static 'admintraining/src/css/c.css' %}">
</head>

<body>

    <!-- Animated Background -->
    <div class="animated-bg">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    {% include 'header/header.html' %}

    <div class="container">
        <aside class="sidebar">
            <div class="tabs">
                <div class="tab active" data-tab="trainings&certifications">Trainings & Certifications</div>
                <div class="tab" data-tab="developers-guide">Developers Guide</div>
            </div>
            <div class="sidebar-section">
                <h3 style="font-weight: 500; font-size: smaller;">Partners</h3>
                <h4>Partners here</h4>
            </div>
        </aside>

        <main>

            <div class="tab-content active" id="trainings&certifications">
                <h2>Trainings</h2>

                {% for source, trainings in grouped_trainings.items %}
                <h3>{{ source }}</h3>

                <div class="repo-grid">

                    {% for cert in trainings %}
                    {% if cert.certificate_file %}

                    <div class="card">
                        <a href="{{ cert.certificate_file.url }}" target="_blank" rel="noopener noreferrer"
                            class="card-img ">
                            <img src="{{ cert.certificate_file.url }}" alt="certificate">
                        </a>
                        <br>
                        <a href="{{ cert.certificate_file.url }}" target="_blank" rel="noopener noreferrer"
                            class="card-link">
                            {{ cert.title }}
                        </a>

                        <p class="card-desc">
                            Description: {{ cert.description }}
                            <br>
                            Issued on : {{ cert.issued_at|date:"M j, Y" }}<br>
                        </p>

                    </div>
                    {% else %}
                    <div class="card">
                        <div style="font-size: 10px; margin-bottom: 10px; text-align: end;">
                            No Image found
                        </div>
                        {{ cert.title }}
                        <p class="card-desc">
                            Description: {{ cert.description }}
                            <br>
                            Issued on : {{ cert.issued_at|date:"M j, Y" }}<br>
                        </p>

                    </div>
                    {% endif %}

                    {% empty %}
                    <p>No trainings found under {{ source }}.</p>
                    {% endfor %}

                </div>
                {% endfor %}
            </div>

            <div class="tab-content" id="developers-guide">
                <h2>Developers Guide</h2>
                <p>
                    Continuous learning is part of development. Below are the technical guides and documentation
                    resources I’ve reviewed and studied.
                </p>
                <i>
                    <p style="color:#888; font-size: 12px;">
                        includes: programming concepts, frameworks, APIs, and real-world development workflows.
                    </p>
                </i>
                <table>
                    <tr>
                        <th><i>SITES</i></th>
                        <th><i>URL</i></th>
                    </tr>
                    {% for guide in guides %}
                    <tr>
                        <td style="width: 40%;">{{ guide.name }}</td>
                        <td><a href="{{ guide.url }}" class="card-link ">{{ guide.url }}</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td style="width: 30%;">
                           <i>no url found.</i>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    
                </table>

            </div>



        </main>
    </div>

    <script src="{% static 'admintraining\src\js\admintraining.js' %}"></script>

</body>

</html>